<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Error</title>
        <link href="./static/lib/metro/css/metro-all.css" rel="stylesheet">
    </head>

    <body class="fg-dark"
          data-role="gradient-box"
          data-gradient-type="radial"
          data-gradient-size="farthest-corner"
          data-gradient-position="40px 40px"
          data-gradient-colors="#f35 0%, #43e 100%">
    <header class="cell-md-12">
        <h2 class="cell-md-4">404 Error</h2><p class="cell-md-5">The requested page could not be found.</p>
    </header>
    </body>


    <script src="static/lib/metro/js/metro.js"></script>
</html>
