<!DOCTYPE html>
<html lang="en" class=" scrollbar-type-1 sb-cyan">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ libs['css'] }}">
    <link rel="shortcut icon" href="{{ libs['img'] + '/favicon.ico' }}" type="image/x-icon">
    <link rel="icon" href="{{ libs['img'] + '/favicon.ico' }}" type="image/x-icon">
    <title>MatsuHub | {{title}}</title>
</head>

<body class="m4-cloak h-vh-100 bg-dark fg-teal">
<div class="bg-dark fg-teal" data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true">
    <div class="navview-pane bg-dark fg-teal">
        <div class="bg-dark fg-teal d-flex flex-align-center">
            <button class="pull-button m-0 bg-lightGray-hover"><span class="mif-menu fg-teal"></span></button>
        </div>
        <div class="suggest-box">
            <input type="text" data-role="input" data-clear-button="false" data-search-button="true">
            <button class="holder"><span class="mif-search fg-teal"></span></button>
        </div>
        <a href="{{ routes['home'] }}" style="width : 100%;" class="data-box text-left no-decor bg-lightGray-hover">
            <h2 class="text-light m-4 fg-teal">MatsuHub</h2>
        </a>
        <ul class="navview-menu mt-4 bg-dark fg-teal" id="side-menu">
            <li>
                <a href="{{ routes['home'] }}">
                    <span class="icon"><span class="mif-meter"></span></span>
                    <span class="caption">Home</span>
                </a>
            </li>
            <li>
                <a href="#" class="dropdown-toggle">
                    <span class="icon"><span class="mif-versions"></span></span>
                    <span class="caption">Media</span>
                </a>
                <ul class="navview-menu stay-open" data-role="dropdown">
                    <li class="item-header">Media</li>
                    <li><a href="{{ routes['music'] }}">
                        <span class="icon"><span class="mif-lock"></span></span>
                        <span class="caption">Music</span>
                    </a></li>
                    <li><a href="{{ routes['images'] }}">
                        <span class="icon"><span class="mif-user-plus"></span></span>
                        <span class="caption">Gallery</span>
                    </a></li>
                    <li><a href="{{ routes['documents'] }}">
                        <span class="icon"><span class="mif-key"></span></span>
                        <span class="caption">Documents</span>
                    </a></li>
                </ul>
        </ul>
         <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0">
             &copy; 2020<a href="https://circuitalminds.github.io/"><span class="caption fg-teal">CircuitalMinds</span>
             <span class="icon"><img src="{{ libs['img'] + '/logo.png' }}"></span></a>
        <input data-role="datepicker"
               data-value="{{timer.now().strftime('%d-%m-%Y %H:%M:%S').split(' ')[0]}}"
               data-ok-button-icon="<span class='mif-checkmark'></span>"
               data-cancel-button-icon="<span class='mif-cross'></span>"
               style="position: absolute;" class="bg-dark fg-teal">
         </div>
    </div>

 <div class="navview-content h-100">
            <div data-role="appbar" class="pos-absolute bg-darkTeal fg-white">
            <div class="app-bar-container w-100 ml-auto">
                <div class="app-bar-container">
                    <a href="{{ routes['home'] }}" class="app-bar-item fg-darkTeal-hover bg-lightGray-hover">
                        <span class="app-bar-name">Home</span>
                    </a>
                    <a href="{{ routes['images'] }}" class="app-bar-item fg-darkTeal-hover bg-lightGray-hover">
                        <span class="app-bar-name">Gallery</span>
                    </a>
                    <a href="{{ routes['music'] }}" class="app-bar-item fg-darkTeal-hover bg-lightGray-hover">
                        <span class="app-bar-name">Music</span>
                    </a>
                    <a href="{{ routes['documents'] }}" class="app-bar-item fg-darkTeal-hover bg-lightGray-hover">
                        <span class="app-bar-name">Documents</span>
                    </a>
                    <a href="#" class="app-bar-item fg-darkTeal-hover bg-lightGray-hover">
                        <span class="mif-cogs"></span>
                    </a>
                </div>     
            </div>
            </div>
        <div id="content-wrapper" class="content-inner w-100 h-100 bg-dark fg-teal" style="padding-top : 15%; overflow-y: auto;">
           <input data-role="timepicker"
           data-value="{{timer.now().strftime('%d-%m-%Y %H:%M:%S').split(' ')[1]}}"
           data-ok-button-icon="<span class='mif-checkmark'></span>"
           data-cancel-button-icon="<span class='mif-cross'></span>"
           class="app-bar-container bg-darkTeal fg-white fg-darkTeal-hover bg-lightGray-hover">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</div>
<script src="{{ libs['js'] }}"></script>
</body>
</html>
