{% extends 'base.html' %}

{% block content %}
<div class="tiles-grid pl-2-md" style="margin-top: 2%;">
    <div data-role="tile" data-size="wide"></div>
    <div data-role="tile" data-size="wide"></div>
    <div data-role="tile" data-size="wide"></div>
    <div data-role="tile" data-size="wide"></div>
</div>
<div data-role="carousel"
     data-cls-controls="fg-cyan"
     data-cls-bullet="bullet-big"
     data-cls-bullet-on="bg-cyan drop-shadow"
     data-cls-slides="rounded"
     data-control-next="<span class='mif-arrow-right'></span>"
     data-control-prev="<span class='mif-arrow-left'></span>"
     data-auto-start="true"
     data-period="3000"
     data-duration="1000"
     data-controls-outside="true"
     style="margin-top: 2%;">
    <div id="slides">
        {% for file in files['family']['2015'] %}
        <div class="slide" data-cover="../static{{ routes['images']['family'] + '/2015/' + file }}"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}
