{% extends 'base.html' %}

{% block content %}
<div data-role="carousel"
     data-cls-controls="fg-teal"
     data-cls-bullet="bullet-big"
     data-cls-bullet-on="bg-teal drop-shadow"
     data-cls-slides="rounded"
     data-control-next="<span class='mif-arrow-right'></span>"
     data-control-prev="<span class='mif-arrow-left'></span>"
     data-auto-start="true"
     data-controls-outside="true" class="card-container">
    <div class="slide h-100 w-100 bg-teal" data-cover="{{ libs['img'] + '/banners/main/logo.png' }}"></div>
    <div class="slide h-100 w-100 bg-teal" data-cover="{{ libs['img'] + '/banners/main/1.png' }}"></div>
    <div class="slide h-100 w-100 bg-teal" data-cover="{{ libs['img'] + '/banners/main/2.png' }}"></div>
    <div class="slide h-100 w-100 bg-teal" data-cover="{{ libs['img'] + '/banners/main/3.png' }}"></div>
    <div class="slide h-100 w-100 bg-teal" data-cover="{{ libs['img'] + '/banners/main/4.png' }}"></div>
</div>
{% endblock %}

