{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="cell-md-6">
    <div class="cell-md-12">
        <div class="slide" style="height: 200%;">
            <hr class="thin mt-4 mb-4 bg-lightGray">
            <h3 id='play-song'> {{ song_play.replace('.mp4', '') }} </h3>
            <hr class="thin mt-4 mb-4 bg-lightGray">
            <video class="fg-cyan" id="play-media"
               data-height="550px"
               data-aspect-ratio="hd"
               data-role="video-player"
               data-loop-icon="<span class='mif-loop2 fg-cyan'></span>"
               data-mute-icon="<span class='mif-volume-mute2 fg-cyan'></span>"
               data-volume-low-icon="<span class='mif-volume-low fg-cyan'></span>"
               data-volume-medium-icon="<span class='mif-volume-medium fg-cyan'></span>"
               data-volume-high-icon="<span class='mif-volume-high fg-cyan'></span>"
               data-play-icon="<img src={{ libs['img'] + '/images/play-icon.png' }}>"
               data-stop-icon="<img src={{ libs['img'] + '/images/player_stop.png' }}>"
               data-src="../static/home/music/{{ song_play }}">
            </video>
        </div>
    <div class="bg-dark p-4 h-100">
    <h4>YouTube Downloader</h4>
    <form action="/ytDown/" method="GET">
     <div class="row">
      <div class="cell-md-9">
       <div class="suggest-box;"><input type="text" name="song" data-role="input"></div>
      </div><button type="submit">Download</button></div>
    </form>
    </div>
    </div>
    </div>
    <div class="cell-md-6">
        <div class="cell-md-12">
            <table class="table table-no-border row-hover bg-dark fg-teal"
               data-role="table" data-static-view="false"
               data-cls-table-top="row flex-nowrap"
               data-cls-search="cell-md-8"
               data-cls-rows-count="cell-md-4"
               data-rows="5"
               data-rows-steps="5, 10"
               data-show-activity="false">
            <thead>
            <tr>
                <th class="bg-dark fg-teal">
                    <input type="checkbox" data-role="switch" data-caption="Reproduccion Automatica" checked title="">
                    <input type="checkbox" data-role="switch" data-caption="Reproduccion Aleatoria" title="">
                </th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
            <tr>
                <td><form action="{{ routes['music'] }}" method="GET">
                    <p>
                        <input type="submit"
                              style="border: 5px solid gray; margin: 0; padding: 10px; width: 100%; height: 100%;"
                              class="button bg-dark fg-teal"
                              name="song_play"
                              value="{{file}}">
                    </p>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>
{% endblock %}

